<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>
</head>
<body>
<div class="container">
    <h1>Booking</h1>

    <h3>
        Event: <span th:text="${event.name}"></span>
    </h3>
    <h5>
        Seat type: <span th:text="${event.seat.name}"></span>
    </h5>

    <br/><br/>

    <form th:action="@{/events/${event.id}/confirmBooking}" method="post">
        <div class="form-group">
            <label>number of seat</label>
            <input type="text" th:field="${booking.numberOfSeats}"/>
            <input type="hidden" th:field="${event.id}"/>
        </div>

        <input class="btn btn-primary" type="submit" value="Book"/>
    </form>



</div>
</body>
</html>